.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* background: linear-gradient(135deg, #f0f4ff, #dce3ff); */
}

.heroContent {
  display: flex;
  flex-direction: column; 
  text-align: center;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1e1e1e;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #555555;
  margin-top: 0;
  margin-bottom: 2rem;
}

.searchInput {
  width: 300px;
  border: none;
  max-width: 80vw;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  outline: none;
}

.searchInput:focus {
  border-color: #1e90ff;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 999px;
  width: fit-content;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  transition: scale 0.2s ease, box-shadow 0.2s ease;
}

.searchBar:hover {
  scale: 1.02;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.15);
}

.searchButton {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #000000ff;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
