.searchInput {
  width: 300px;
  border: none;
  max-width: 80vw;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  outline: none;
}

.searchInput:focus {
  border-color: #1e90ff;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  
}



.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 999px;
  width: fit-content;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
}

.search:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.15);  
}

.searchButton {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #000000ff;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}


.searchResults {
  display: flex;  flex-direction: column;
  gap: 8px;

}